<head>
<link rel="stylesheet" href="/style.css"/>
</head>

h1(
font-family: "Trebuchet MS", Helvetica, sans-serif;
color:blue
)

p( 
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
color:black
)

body(
background-image: url("https://image.freepik.com/free-vector/abstract-background-with-a-watercolor-texture_1048-2144.jpg");
background-color: #b3ff66
)



